<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Faction</title>
    <link rel="stylesheet" href="{% static 'loreforge/styles.css' %}" />
  </head>
  <body>
    <main class="container">
      <h1>{{ button_text }}</h1>

      <form method="POST">
        {% csrf_token %}

        <label>Faction Name:</label><br />
        {{ form.name }}<br /><br />

        <label>Leader Name:</label><br />
        {{ form.leader_name }}<br /><br />

        <button type="submit">{{ button_text }}</button>
      </form>

      <br />
      <a href="/factions/">Back to Factions</a>
    </main>
  </body>
</html>
